<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prospektus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>prospektus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Prospektus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Prospektus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EnesConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:prospektus.database.windows.net,1433;Initial Catalog=ProspektusDB;User ID=iesarikaya;Password=EnesFatma54" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProspektusService.Models.ProspektusContext, ProspektusService" MigrationConfiguration="ProspektusService.Migrations.Configuration, ProspektusService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EnesConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:prospektus.database.windows.net,1433;Initial Catalog=ProspektusDB;User ID=iesarikaya;Password=EnesFatma54</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>